#displayWrapper {
    max-width:1000px;
    position:relative;
    font-family:sans-serif;
}

#displayWrapper #left, #displayWrapper #right, #displayWrapper #scores {
    white-space:nowrap;
}

#listWrapper { 
    overflow:hidden;
}

#saltsets {
    font-size:60%;
    margin-bottom:20px;
}

#saltsets a { 
    text-decoration:none;
    background:#ffdddd;
    color:#000000;
}

#saltsets #saltsetA { 
    background:#ddffdd;
}

#saltsets #saltsetB { 
    background:#ddddff;
}

#saltsets span { 
    font-family:sans-serif;
}

#left { 
    min-height:400px;
    max-height:400px;
    float:left;
    width:315px;
    display:inline-block;
    background:#ddffdd;
}

#left .alternate {
    background:#f0fff0;
}

#right { 
    max-height:400px;
    min-height:400px;
    background:#ddddff;
    display:inline-block;
    width:315px;
}

#right .alternate { 
   background:#f0f0ff;
}

#scoresWrapper {
    max-height:400px;
    min-height:400px;
    float:right;
    width: 370px;
    background: #ffffff;
}

#scores{
    max-height:400px;
    min-height:400px;
    background: #ffdddd;
    overflow:hidden;
    position:relative;
}

#scores .alternate { 
    background:#fff0f0;
}

#scores .scrollitem {
    cursor:default !important;
}

.scrollable { 
    overflow-y:auto;
    overflow-x:hidden;
}

.scrollitem {
    overflow: visible;
    position:relative;
}

.scrollitem .empty { 
    min-height:1px;
    cursor:default !important;
}


.scrollitem.unlisted { 
    cursor:default !important;
}

.scrollitem.unlisted span { 
    cursor:default;
    color:#aaaaaa;
    text-decoration:line-through;
}

.scrollitem i { 
    position: absolute;
    left:270px;
    visibility:hidden;
    text-decoration:none;
    cursor:pointer;
    padding-left:2px;
    padding-right:2px;
}

.scrollitem:hover { 
    color:#660000;
}

.scrollitem:hover i {
    visibility:visible;
    color:#cccccc;
}

.scrollitem i:hover { 
    color:#000000;
}

.scrollitem.matchReference { 
    text-decoration:underline;
}

.scrollitem.matchReference i{
    visibility:hidden !important;
}

.leftHighlight, .rightHighlight {
    color:#ff0000 !important;
    background: #ffdddd;
}

.leftHighlight:hover i, .rightHighlight:hover i { 
    visibility:hidden !important;
}

.lockcontrols { 
    margin-top: 10px;
    width: 700px;
    color: #bbbbbb;
    cursor:default;
}

#lockright { 
    margin-left: 0%;
}

#lockleft {
    margin-left: 36%;
}

#lockcentre { 
    margin-left: 34%;
}

.lockActive { 
    color:#000000;
    cursor:pointer;
}

.hiddenScores {
    background:#ffffff !important;
}

.hiddenScores .scrollitem {
    visibility:hidden;
}

#selectionDisplay { 
    margin-top:10px;
    font-weight:bold;
}

#leftSelected { 
    float:left;
    color:#339933;
    width:300px;
}

#rightSelected { 
    position:absolute;
    left:31.5%;
    width:300px;
    color:#333399;
}

#selectedScore { 
    position:absolute;
    left:63%;
    color:#993333;
}

#confirmPanel { 
    margin-top: 30px;
    position:absolute;
}

#singleConfirmDispute, #bulkConfirm { 
    display:none;
}


#confirmPanel i { 
    cursor:pointer;
}

#bulkConfirm {
    position:relative; 
    cursor:pointer;
}

#bulkConfirm i {
    color: #006600;
    background:#ddffdd;
    margin-right: -5px;
}

#confirmMatch i { 
    color:#006600;
    background:#ddffdd;
}

#disputeMatch i { 
    margin-left: 20px;
    background:#660000;
    color:#ffdddd;
}


#leftContext {
   clear:both;
   margin-top:80px;
   background:#ddffdd;
}
#rightContext {
   clear:both;
   margin-top:6px;
   background:#ddddff;
}


#contextWrapper { 
    font-family: sans-serif;
    font-size: 80%;
}

.contextVar .contextItem { 
    margin-left: 30px;
    font-size: 80%;
    display:none;
}

.contextVarHeader { 
    cursor:pointer;
}

#modeSelector { 
    float:left;
    margin-right:40px;
}

#search i { 
    padding:2px;
}

#search input:disabled { 
    cursor:not-allowed;
}

#dosearch {
    border:1px solid;
    cursor:pointer;
}

#refresh { 
    border:1px solid;
    cursor:pointer;
    margin-right: 10px;
}


