#displayWrapper {
    max-width:1000px;
    position:relative;
    font-family:sans-serif;
}

#displayWrapper #left, #displayWrapper #right, #displayWrapper #scores {
    white-space:nowrap;
}

#listWrapper { 
    overflow:hidden;
}

#saltsets {
    font-size:60%;
    margin-bottom:20px;
}

#saltsets a { 
    text-decoration:none;
    background:#ffdddd;
    color:#000000;
}

#saltsets #saltsetA { 
    background:#ddffdd;
}

#saltsets #saltsetB { 
    background:#ddddff;
}

#saltsets span { 
    font-family:sans-serif;
}

#left { 
    min-height:400px;
    max-height:400px;
    float:left;
    width:315px;
    display:inline-block;
    background:#ddffdd;
}

#left .alternate {
    background:#f0fff0;
}

#right { 
    max-height:400px;
    min-height:400px;
    background:#ddddff;
    display:inline-block;
    width:315px;
}

#right .alternate { 
   background:#f0f0ff;
}

#scoresWrapper {
    max-height:400px;
    min-height:400px;
    float:right;
    width: 370px;
    background: #ffffff;
}

#scores{
    max-height:400px;
    min-height:400px;
    background: #ffdddd;
    overflow:hidden;
    position:relative;
}

#scores .alternate { 
    background:#fff0f0;
}

#scores .scrollitem {
    cursor:default !important;
}

.scrollable { 
    overflow-y:auto;
    overflow-x:hidden;
}

.scrollitem {
    overflow: visible;
    position:relative;
}

.scrollitem .empty { 
    min-height:1px;
    cursor:default !important;
}


.scrollitem.unlisted { 
    cursor:default !important;
}

.scrollitem.unlisted span { 
    cursor:default;
    color:#aaaaaa;
    text-decoration:line-through;
}

.scrollitem i { 
    position:absolute;
    text-decoration:none;
}

.scrollitem .fa-eye, .scrollitem .fa-eye-slash { 
    left:270px;
    visibility:hidden;
    cursor:pointer;
    padding-left:2px;
    padding-right:2px;
}

.scrollitem .fa-thumbs-up, .scrollitem .fa-thumbs-down { 
    left:250px;
    opacity:.3;
}

.scrollitem .fa-thumbs-up { 
    color:#339933;
}

.scrollitem .fa-thumbs-down { 
    color:#993333;
}

.scrollitem .fa-check { 
    right:0px;
    opacity:.3;
}

.scrollitem.confirmed.disputed .fa-thumbs-up { 
    left:243px;
}

.scrollitem.confirmed.disputed .fa-thumbs-down {
    left:257px;
}

.scrollitem:hover { 
    color:#660000;
}

.scrollitem:hover .fa-eye, .scrollitem:hover .fa-eye-slash {
    visibility:visible;
    color:#cccccc;
}

.scrollitem .fa-eye:hover, .scrollitem .fa-eye-slash:hover { 
    color:#000000;
}

.scrollitem.matchReference { 
    text-decoration:underline;
}

.scrollitem.matchReference .fa-eye, .scrollitem.matchReference .fa-eye-slash{
    visibility:hidden !important;
}

.scrollitem.contextMatch { 
    font-style:italic;
    font-weight: bold;
}

#left .scrollitem.contextMatch { 
    color:#333399;
}

#right .scrollitem.contextMatch { 
    color:#339933;
}

.numContextMatches {
    font-weight: bold;
}

.numContextMatches i { 
    color:#ff7700;
    cursor:pointer;
}

.contextHints { 
    position:relative;
    z-index:1;
    opacity:.3;
    display:inline;
}

.contextHintUp { 
    position:absolute;
    top:0px;
    display:none;
}

.contextHintDown { 
    position:absolute;
    top:22em;
    display:none;
} 
#leftContextHints {
    position:absolute;
    left:260px;
    color:#333399;
}

#rightContextHints { 
    position:absolute;
    left:575px;
    color:#339933;
}

.leftHighlight, .rightHighlight { 
    color:#ffffff !important;
}

.leftHighlight i, .rightHighlight i {
    color:#ffffff !important;
}

.leftHighlight { 
    background:#669966;
}

.rightHighlight {
    background:#666699;
}

.leftHighlight:hover .fa-eye, .rightHighlight:hover .fa-eye, .leftHighlight:hover .fa-eye-slash, .rightHighlight:hover .fa-eye-slash { 
    visibility:hidden !important;
}

.lockcontrols { 
    margin-top: 10px;
    width: 700px;
    color: #bbbbbb;
    cursor:default;
}

#lockright { 
    margin-left: 0%;
}

#lockleft {
    margin-left: 36%;
}

#lockcentre { 
    margin-left: 34%;
}

.lockActive { 
    color:#000000;
    cursor:pointer;
}

.hiddenScores {
    background:#ffffff !important;
}

.hiddenScores .scrollitem {
    visibility:hidden;
}

#selectionDisplay { 
    margin-top:10px;
    font-weight:bold;
}

#leftSelected { 
    float:left;
    color:#339933;
    width:300px;
}

#rightSelected { 
    position:absolute;
    left:31.5%;
    width:300px;
    color:#333399;
}

#selectedScore { 
    position:absolute;
    left:63%;
    color:#993333;
}

#confirmPanel { 
    margin-top: 30px;
    position:absolute;
}

#singleConfirmDispute, #bulkConfirm { 
    display:none;
}

#confirmPanel i { 
    cursor:pointer;
}

#bulkConfirm {
    position:relative; 
    cursor:pointer;
}

#bulkConfirm i {
    color: #006600;
    background:#ddffdd;
    margin-right: -5px;
}

#confirmMatch i { 
    color:#006600;
    background:#ddffdd;
}

#disputeMatch i { 
    margin-left: 20px;
    background:#660000;
    color:#ffdddd;
}

#confDispMsg { 
    font-size: 1.25em;
    font-weight:bold;
    color:#993333;
}

#leftContext {
   clear:both;
   margin-top:80px;
   background:#ddffdd;
}
#rightContext {
   clear:both;
   margin-top:6px;
   background:#ddddff;
}


#contextWrapper { 
    font-family: sans-serif;
    font-size: 80%;
}

.contextVar.containsMatches { 
    font-weight:bold;
}

.contextVar .contextItem { 
    margin-left: 30px;
    font-size: 80%;
    display:none;
    font-weight:normal;
}

.contextVarHeader { 
    cursor:pointer;
}

#modeSelector { 
    float:left;
    margin-right:40px;
}

#search i { 
    padding:2px;
}

#search input:disabled { 
    cursor:not-allowed;
}

#dosearch {
    border:1px solid;
    cursor:pointer;
}

#refresh { 
    border:1px solid;
    cursor:pointer;
    margin-right: 10px;
}

#systemMessages {
    font-size: 1.5em;
    font-family:sans-serif;
    color:#ffffff;
    background:#990000;
    display:inline-block;
    padding-right:5px;
    padding-left:5px;
}

#systemMessages i { 
    padding-right:10px;
}
