<head>
    <title>SALT: Semantic Alignment and Linking Tool</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div>
    Which data sets would you like to compare?
    <form action="/salt" method="GET">
        Left side:
        <select id="leftDataSelector" name="saltsetA">
            <option value="ems_composers" selected="selected">Early Music Show Composers</option>
            <option value="ems_works">Early Music Show Works</option>
            <option value="slickmem_authors">SLICKMEM Authors</option>
            <option value="slickmem_composers">SLICKMEM Composers</option>
            <option value="slickmem_works">SLICKMEM Works</option>
            <option value="etree_artists">etree artists</option>
            <option value="lbz_artists">linkedbrainz artists</option>
        </select>
        Right side:
        <select id="rightDataSelector" name="saltsetB">
            <option value="ems_composers">Early Music Show Composers</option>
            <option value="ems_works">Early Music Show Works</option>
            <option value="slickmem_authors" selected="selected">SLICKMEM Authors</option>
            <option value="slickmem_composers">SLICKMEM Composers</option>
            <option value="slickmem_works">SLICKMEM Works</option>
            <option value="etree_artists">etree artists</option>
            <option value="lbz_artists">linkedbrainz artists</option>
        </select>
        <input type="submit" value="Compare">
    </form>
</div>
