<head>
    <title>SALT: Semantic Alignment and Linking Tool</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div>
    Which data sets would you like to compare?
    <form action="/salt" method="GET">
        Left side:
        <select id="leftDataSelector" name="saltsetA">
            <option value="ash_places" selected="selected">Ashmolean places</option>
        </select>
        Right side:
        <select id="rightDataSelector" name="saltsetB">
            <option value="chgis_places">CHGIS places</option>
        </select>
        <input type="submit" value="Compare">
    </form>
</div>
