<head>
    <title>SALT: Semantic Alignment Tool</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div>
    Which data sets would you like to compare?
    <form action="/salt" method="GET">
        Left side:
        <select id="leftDataSelector" name="saltsetA">
            <option value="ems_composers" selected="selected">Early Music Show</option>
            <option value="slickmem_persons">SLICKMEM Persons</option>
            <option value="slickmem_item_creators">SLICKMEM Item Creators</option>
        </select>
        Right side:
        <select id="rightDataSelector" name="saltsetB">
            <option value="ems_composers">Early Music Show</option>
            <option value="slickmem_persons" selected="selected">SLICKMEM Persons</option>
            <option value="slickmem_item_creators">SLICKMEM Item Creators</option>
        </select>
        <input type="submit" value="Compare">
    </form>
</div>
